*
{
    font-family: 'Montserrat', sans-serif;
}

.bg-primary-color
{
    background: #0B1F3B;
}

.logo1
{
    
   position: static;
   margin-left: 6rem;
   padding-top: 0.01rem;
}



.nav-itens .navbar-nav
{
    position: static;
    margin-top: 6rem;
    width: 40%;
    margin-right: 33rem;
}

/* Pesquisa------------------------------------------------------------------------------- */
.pesq
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    width: 75%;
}

.pesq .caixa-pesquisa
{
    box-sizing: border-box;
    display: flex;
    width: 200%;
    max-width: 300%;
    border: solid 1px  #FF0000;
    text-align:justify;
}

.botao
{
   position:static;
   margin-left: 205%;
   margin-top: -26%;
   color: #fff;
}

.item_nav .itemDaNav
{
    font-weight: bold;
}

.itemDaNav:hover
{
    text-decoration: solid 2px underline #FF0000;
}

.dropdown-menu
{
    background: #0F0D0D;
}

.dropdown-menu .dropdown-item
{
    color: #fff;
}

.dropdown-menu .dropdown-item:hover
{
    color:black;
}

.dropdown-menu .dropdown-divider
{
    background: #fff;
}

.login_favoritos
{
    
    margin-bottom: 1.5rem;
    float: right;
    height: 0.5rem;
    position: absolute;
    margin-left: 80%;
}


.login
{
    position: relative;
    width: 2rem;
    margin: 0.5rem;
    border-radius: 10%;
}

.login:hover
{
    background-color: red;
}

/* ----------------------------------------------------------------------- */
/*1500px */
@media(max-width: 1550px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 2.5%;
    }
}
/*  */
@media(max-width: 1500px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 5%;
    }
    
}

@media (max-width: 1450px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 8%;
    }
}

@media (max-width: 1400px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 10%;
    }
}
 
@media(max-width: 1350px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 9%;
    }
}
@media(max-width: 1300px)
{
    .pesq
    {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 1%;
        width: 70%;
    }
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 4%;
    }

    
}
 
@media(max-width: 1250px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 2%;
    }

}

@media(max-width: 1200px)
{
    .nav-itens .navbar-nav
    {
        position: static;
        margin-top: 6rem;
        width: 40%;
        margin-left: 1%;
    }
    .navbar-pincipal
    {
        width: 100%;
    }
}

@media(max-width: 1150px)
{
    .navbar-pincipal
    {
        width: 100%;
    }
}

@media(max-width: 1100px)
{
    .login_favoritos
    {
        float: right;
        margin-left: 1rem;
    }
    
    .navbar-pincipal
    {
        width: 100%;
    }
}

@media(max-width: 1000px)
{
    .logo1
    {
        position: static;
        margin-left: 3rem;
        padding-top: 0.01rem;
    }
    nav-itens .navbar-nav
    {
        position: static;
        margin-top: rem;
        width: 40%;
        margin-right: 25rem;
    }
    .navbar-pincipal
    {
        width: 100%;
    }
    .login_favoritos
    {
        float: right;
        margin-left: 0;

    }
}

